<!DOCTYPE html>
<html lang="en">
<head>
    <title>COT Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#uploadForm').on('submit', function(e){
                e.preventDefault();
                $.ajax({
                    url: '/upload_photo',
                    type: 'POST',
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(response){
                        if(response.error){
                            console.log("Error: " + response.error);
                        }else{
                            console.log(response.success);
                            // Add success message
                            $('#uploadForm').after('<p class="success-message">Files uploaded successfully</p>');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log("Request failed: " + textStatus + ", " + errorThrown);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#getReportBtn").click(function(){
                $.when(
                    $.get("/get_report_data"),
                    $.get("/get_performance_photos")
                ).done(function(reportData, performancePhotos){
                    // Handle report data
                    console.log(reportData[0]); // Log the data for debugging
                    var table = $('<table></table>');
                    var headers = Object.keys(reportData[0][0]);
                    var headerRow = $('<tr></tr>');
                    headers.forEach(function(header) {
                        headerRow.append('<th>' + header + '</th>');
                    });
                    table.append(headerRow);
                    reportData[0].forEach(function(row) {
                        var tableRow = $('<tr></tr>');
                        headers.forEach(function(header) {
                            var cellValue = row[header];
                            var cellClass = '';
                            if (cellValue < 0) {
                                cellClass = 'negative';
                            } else if (cellValue > 0) {
                                cellClass = 'positive';
                            }
                            tableRow.append('<td class="' + cellClass + '">' + cellValue + '</td>');
                        });
                        table.append(tableRow);
                    });
                    $('#reportTable').html(table);
                    $('#downloadBtn').show(); // Show the download button after successful data fetch

                    // Handle performance photos
                    console.log(performancePhotos[0]);
                    console.log(performancePhotos[0]['photos']);
                    $('#performancePhotos').empty(); // Clear the div
                    var staticUrl = "{{ url_for('static', filename='') }}";
                    performancePhotos[0]['photos'].forEach(function(photo) {
                        var img = $('<img>', {src: staticUrl + photo, alt: "Performance photo"});
                        $('#performancePhotos').append(img);
                    });
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log("Request failed: " + textStatus + ", " + errorThrown); // Log any errors
                });
            });
        });
    </script>
</head>
<body>
<h1>COT Report</h1>
{% if report_date %}
    <p>The latest report: {{ report_date }}.</p>
    <form id="uploadForm" action="/upload_photo" method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload">
    </form>
    <div id="parentDiv">
        <div class="button-container">
            <button id="getReportBtn">Get Report</button>
            <a id="downloadBtn" href="/download" style="display: none;"><button>Download Report</button></a>
        </div>
        <div class="report-container">
            <div id="reportTable"></div>
            <div id="performancePhotos"></div>
        </div>
    </div>
{% else %}
    <p>Failed to fetch the latest report date. Please try again later.</p>
{% endif %}
</body>
</html>